:root {
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --white: #FFF;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;
    --light-slate: #8E8F99;
    
}

.box {
    border: none;
    width: 1440px;
    height: 3200px;
    background: var(--white);
    margin-left: 156px;
    margin-right: 156px;
    border-bottom: 1px solid var(--cornflower);
}
.box-1 {
        border: none;
        width: 1440px;
        height: 2072px;
        background: var(--white);
        margin-left: 156px;
        margin-right: 156px;
        border-bottom: 1px solid var(--cornflower);
        
    }
.d-flex {
    width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    padding-right: 0;
    }
.logo {
    text-decoration: none;
    color: var(--navy-blue);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.31;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 44px;
    justify-content: center;
    padding-left: 156px;
}

.logo span {
    color: var(--iris);
    width: 71px;
    justify-content: center;
}
.nav {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    gap: 40px;
    letter-spacing: 0.32px;
    justify-content: center;
    list-style-type: none;
    margin-right: 0;
    margin-left: 80px;
}
.nav-link {
    color: var(--navy-blue);
    list-style: none;
    text-decoration: none;
    
    border: 16px;
    gap: 40px;
    width: auto;
    margin-left: auto;
}

.active {
    color: var(--ocean);
    
}

.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top:20px;
    
}

.main-ctas {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    gap: 40px;
    letter-spacing: 0.32px;
    list-style-type: none;
    padding-right: 156px;
}

.container {
    display: inline-flex;     
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    gap: 8px;
    letter-spacing: 0.32px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    align-items: center;
    }
.icon {
    padding: 24px 0;
    text-align: center;
    background-color: var(--cloud);
    width: 264px;
    margin: 5px;
    justify-content: center;
}

.icon:hover,
.icon:focus {

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    }

.icon::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 20px;
}


li {
text-align: left;
}
        
ul.container {
    
    justify-content: center;
    align-content: center;
    font-size: 20px;
    flex-direction: row;
    padding-left: 0;
    margin-left: 156px;
    margin-right: 156px;
    margin-top: 120px;
    }

        

.container p {
    text-align: left;
    
    }



.main-ctas {
    margin-right: 0;
    margin-left: auto;
    }

.main-ctas-item-link {
    color: var(--navy-blue);
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.32px;
    
    }

.about-gadget {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    margin-left: 156px;
    margin-right: 156px;
    padding-bottom: 120px;
    }

.gadget-image {
    display: inline-flex;
    align-items: center;
    width: 300px;      
    gap: 24px;
    list-style-type: none;
    justify-content: space-around;
    border: 1px solid var(--cornflower);
    padding-left: 0;
    text-decoration: none;        
   }
 
body {
    font-family: Roboto;
    margin: 0;
    }

.hero {
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Backgroud\ photo.jpg");
    background-size: cover;
    text-align: center;
    width: 1440px;
    height: 200px;
    flex-direction: flex-start;
    padding-top: 188px;
    padding-bottom: 292px;
    background-repeat: no-repeat;
    
    }
   
.dark {
    background-color: var(--navy-blue);
        
    }


h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;       
    letter-spacing: 1.12px;         
    }

.portfolio-button {
    margin-left: 410px;
    margin-right: 362px;
    margin-top: 96px;
    margin-bottom: 72px;
    }

button {
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;       
    letter-spacing: 0.64px;
    border: none;
    padding: 12px 24px;
    gap: 10px;
    }
    .button:hover {
        cursor: pointer;
        background-color: var(--ocean);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 250ms cubic-bezier(0.04, 0.0, 0.2, 1);
        }
.backdrop {
    width: 950px;
    height: 680px; 
       
    background-color: rgba(0, 0, 0, 0.40);
    /* margin: 0px; */
    margin-right: 800px;
    top: 6.2%;  
    padding-left: 490px;     
    position: fixed;
    /* display: flex; */
    display: block;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.04, 0.0, 0.2, 1);
}
.modal {
    width: 408px;
    height: 635px;
    background-color: var(--white);
    border-radius: 4px;
    padding: 24px;
    /* display: auto;
    justify-content: center;
    position: auto;
    align-items: center; */
   
    
      
       
}
.is-hidden {
    pointer-events: none;
    opacity: 0;
}
.modal-close-button {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    width: 30px;
    height: 30px;
    padding: 0;
    color: var(--iris);
    margin-left: auto;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1) border 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
        
       
}


.modal-close-button:hover {
    color: var(--ocean);
    border: 1px solid currentcolor;
}

.btn-icon {
color: var(--iris);
}

.service-label {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    position: relative;
    
}

.input-label {
    text-align: left;
    margin-bottom: 8px;
    color: var(--light-slate);
}

.service-input {
    padding: 12px 40px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-icon {
    position: absolute;
    top: 60%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
}

.service-input:focus+.service-icon,
.service-input:hover+.service-icon {
    fill: var(--iris);
}

.service-input:hover {
    border: 1px solid var(--iris);
}

.service-input-textarea {
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;

}

.service-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    text-align: left;
    
}

.agree-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    left: 25px;
    flex-shrink: 0;
    opacity: 0;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
}

.agree-check-icon {
    fill: none;
    margin-right: 8px;
    border: 2px solid black;
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 25px;
    /* display: flex; */
    flex-shrink: 0;
    /* position: relative; */

         cursor: pointer;

    /* margin-left: 10px; */
}

.service-agree .agree-checkbox:focus+.agree-check-icon,
.service-agree .agree-checkbox:checked:focus+.agree-check-icon {
    outline: 2px solid #212121;
    
}

.service-agree .agree-checkbox:checked+.agree-check-icon {
    background-color: var(--iris);
    border-color: var(--iris);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;
    margin-left: 5px;
    padding-left: 5px;
    flex-shrink: 0;
   
   
       
}

.agree-text {
    font-size: 12px;
    color: var(--light-slate);
    margin-top: 40px;
    font-weight: 400;
    line-height: 14px;       
    letter-spacing: 0.48px;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    
    
}

.modal-send {
    width: 105px;
    margin-top: 30px;
    padding: 16px 32px;
    background-color: var(--iris);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    font-size: 16px;        
    font-weight: 500;
    line-height: 24px;       
    letter-spacing: 0.64px;
}

.modal-send:hover {
    cursor: pointer;
}



.button-1 {
    display: inline-flex;        
    color: var(--IRIS, #4D5AE5);
    text-align: center;       
    font-family: Roboto;
    font-size: 16px;        
    font-weight: 500;
    line-height: 24px;           
    letter-spacing: 0.64px;   
    padding: 12px 24px;
    margin-left: 12px;
    margin-right: 12px;   
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);}
.button-1:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;
       
    
    }
    

ul .li {
    text-decoration: none;
    list-style-type: none;
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
h2 {
    /* Header 2 */
    text-align: center;
    color: var(--navy-blue);       
        
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5em;       
    letter-spacing: 0.72px;
    padding-top: 60px;  
    }

.team {
    width: 1440px;
    height: 732px;
    background: var(--cloud);

    }

.team-section {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 120px;
        
    }

.list-team {
    display: inline-flex;
    padding: 0;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    border-radius: 0px 0px 4px 4px;        
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: opacity 250ms cubic-bezier(0.04, 0.0, 0.2, 1);
}
.services {
    text-decoration: none;
    list-style-type: none;
    padding-right: 0;
    flex-direction: column;
    padding-left: 0;
    margin-left: 132px;
    margin-right: 144px;
    margin-bottom: 120px;
    width: 1440px;
    align-items: center;
    justify-content: space-around;         
    }

.services-offered {
    display: inline-flex;
    align-items: center;
    margin-left: 12px; 
    margin-right: 12px;      
    width: 360px;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;             
    border-radius: 0px 0px 4px 4px;}
    .services-offered:hover .services-offered-image-caption{
    /* box-shadow: 0px 10px 10px 0px rgba(46, 47, 66, 0.08), 0px 15px 20px 0px rgba(46, 47, 66, 0.16), 0px 10px 20px 0px rgba(46, 47, 66, 0.08); */
    opacity: .9;
    transform: translateY(0)
    
}

.services-offered-image {
    position: relative;
    
    overflow: hidden;

    
}
.services-offered-image-caption {
    position: absolute;
    background-color: var(--iris);
    color: var(--cloud);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    margin-bottom: 0;
    margin-top: 0;
    transform: translateY(100%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
         
    /* transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1); */
     
    
}

.services-offered-image-caption {
    padding-top: 40px;
    
}

h3 {
    
    color: var(--navy-blue);     
    line-height: 1.5;
    letter-spacing: 0.72px;    
    font-size: 20px;       
    font-weight: 500;      
        /* 120% */
    letter-spacing: 0.4px;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    }

h4 {
    /* Header 4 */
    color: var(--navy-blue);
    line-height: 0;
    letter-spacing: 0.72px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    padding-top: 32px;
}

h5 {
    /* Header 4 */
    color: var(--white);
    line-height: 24px;
    letter-spacing: 0.72px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.32px;
    list-style-type: none;
    text-decoration: none;
  
    
}
h6 {
    /* Header 4 */
    color: var(--navy-blue);
    line-height: 0;
    letter-spacing: 0.72px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    list-style-type: none;
    text-decoration: none;


}



p {
    color: var(--slate); 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;        
    letter-spacing: 0.32px;
    text-align: center;   
             
    }
 p.apps {
    color: var(--slate);
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 32px;

    /* Body */

    font-size: 16px;
    font-weight: 400;
    line-height: 0;
    /* 150% */
    letter-spacing: 0.32px;
    text-align: left;


}

footer {
       
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    background: var(--navy-blue);
    font-weight: 800;
    line-height: 21px;
        /* 116.667% */
    letter-spacing: 0.54px;  
    height: 312px;  
    gap: 24px;
    }
.footer {
    text-decoration: none;
    color: var(--white); 
    padding-top: 100px;
    margin-left: 80px;  
    
       
    }

.footers {
    display: inline-flex;    
    width: 1440px;  


}

.team-footer { 
     margin-top: 10px; 
    gap: 16px;
       
    }

span {
    color: var(--iris); 
    text-align: left;
     padding-top: 5px;
           
    }
.footer p {
    text-decoration: none;
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
      /* 150% */
    letter-spacing: 0.32px;
    padding-top: 22px;
    margin-left: 80px;
    text-align: left;
    margin-bottom: 100px;
      
           
    }

 .team-icon {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    
                     
    }
 .team-socials {
    display: flex; 
    justify-content: space-around
    
 }           
 
 .team-footer {
     display: flex;
     position:relative;
     margin-left: 0px;
     
 }
 
 .footer-text {
    margin-top: 100px;
   
 }

.team-socials-icon {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
     align-items: center;
    justify-content: space-around; 
    margin-bottom: 32px;
    gap: 32px;
    
    
    }

.team-footer-icon {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 32px;
    gap: 16px;
    
    }
.team-footer-icon svg {
    fill: white;}

.team-socials-icon svg {
    fill: white;
    gap: 16px;
            
    }
    
.customer-icon {
    border: 2px solid #8e8f99;
    padding: 16px 32px;
    display: flex;
    text-align: center;  
    justify-content: center
     
            
     }
    
.customer-icon svg {
    fill: #8e8f99;
    justify-content: space-around;
    display: inline-flex;
    text-align: center;
    
     }
    
.customer-icon:hover,
.customer-icon:focus {
    border-color: 2px solid var(--iris);

      }

.customer-icon:hover svg,
.customer-icon:focus svg {
    
fill: var(--iris);
}

.team-socials:hover,
.team-socials{
    border-color: 2px solid var(--iris);}
    
.team-socials-icon:hover svg,
.team-socials-icon:focus svg {
    
    fill: var(--navy-blue);
}

.team-footer-icon:hover svg,
.team-footer-icon:focus svg {

    fill: var(--navy-blue);
}



        
.customer {   
    display: flex;             
    margin-left: 120px;
    margin-right: 10px;
    margin-bottom: 120px;
    gap: 16px;
    align-items: center;
    }

        .input-sub {
            border: 2px solid white;
            background: none;
            border-radius: 4px;
            padding: 10px;
            width: 264px;
            background-color: none;
            margin-right: 24px;
        }
    
        .input-sub::placeholder {
            color: white;
        }
    
        .button-sub {
            display: inline-flex;
            align-items: center;
            color: white;
            padding: 8px 24px;
            gap: 16px;
            background-color: var(--iris);
            border: none;
            border-radius: 4px;
            margin-top: 0px;
            font-size: 18px;
            position: relative;
            align-items: left;
            border-radius: 4px;
            margin-right: 90px;
            margin-bottom: 0;
        }
    
        .button-sub svg {
            fill: white;
        }
         .footer-sub {
            margin-left: 24px;
        }

        .footer-subscribe-text {
           position: relative;
            display: inline-flex;
            margin-top: 110px;
            margin-bottom: 30px;
            font-size: 16px;
            text-decoration: none;
            color: var(--cloud);
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
                /* 150% */
            letter-spacing: 0.32px;
                /* padding-top: 22px; */
            margin-left: 0px;
            text-align: left;
            color: var(--white, #FFF);
                /* margin-bottom: 100px; */
        }
                
        
                

          
