:root {
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --white: #FFF;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;
    --light-slate: #8E8F99;
    }
.box {
    border: none;
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
}
.box-1 {
    border: none;
    background: var(--white);
    border-bottom: 1px solid var(--cornflower);
    }
.logo {
    text-decoration: none;
    color: var(--navy-blue);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.31;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 44px;
    justify-content: center;
    }
.logo span {
    color: var(--iris);
    width: 71px;
    justify-content: center;
    }
.list {
    list-style: none;
    padding-left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-right: 24px;
    }
.nav {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    gap: 40px;
    letter-spacing: 0.32px;
    justify-content: center;
    list-style-type: none;
    margin-right: 0;
    margin-left: 80px;
    }
.nav-link {
    color: var(--navy-blue);
    list-style: none;
    text-decoration: none;
    border: 16px;
    gap: 40px;
    width: auto;
    margin-left: auto;
    }
.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
    }
.active {
    color: var(--ocean);
    }
.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 10px;px;
    
}
.contacts {
    line-height: 1.5;
    color: var(--slate);
    letter-spacing: 0.32px;
    }
.header {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    gap: 8px;
    letter-spacing: 0.32px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    align-items: center;
    }
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    padding-right: 0;
}
.header .list {
    gap: 40px;
}
.header-container {
    display: flex;
    align-items: center;
    }
.logo {
    /* margin-right: 100px; */
    }
.logo-studio-nav {
    color: var(--navyblue);
    }
span.logo-studio-nav {
    color: var(--navyblue);
    }
.desktop-contacts {
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
    }
.mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    }
.mobile-menu-container {
    position: relative;
    height: 796px;
    padding: 40px;
    }
.mobile-navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.mobile-menu {
    display: none;
    position: relative;
    width: 428px;
    height: 796px;
    }
.mobile-social-contacts {
    text-decoration: none;
    color: var(--navy-blue);
    font-size: 36px;
    margin-top: 20px;
    padding-top: 40px;
    display: flex;
    list-style-type: none;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    letter-spacing: 0.32px;
    }
.mobile-social-contacts-active {
    text-decoration: none;
    color: var(--ocean);
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    list-style-type: none;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
   }
.mobile-socials-icon {
    fill: white;
    display: inline-flex;
    margin-right: 24px;
    }
.link {
    text-decoration: none;
    list-style-type: none;
    }
.main-ctas {
    margin-right: 0;
    margin-left: auto;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    gap: 40px;
    letter-spacing: 0.32px;
    list-style-type: none;
    padding-right: 156px;
    }

.main-ctas-item-link {
    color: var(--navy-blue);
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.32px;
    }
body {
    font-family: Roboto;
    margin: 0;
    }
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Backgroud\ photo.jpg");
    background-size: cover;
    text-align: center;
    /* width: 1440px; */
    height: 200px;
    flex-direction: flex-start;
    padding-top: 188px;
    padding-bottom: 292px;
    background-repeat: no-repeat;
    
    }
   .dark {
    background-color: var(--navy-blue);
     }
h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;       
    letter-spacing: 1.12px;         
    }
button {
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;       
    letter-spacing: 0.64px;
    border: none;
    padding: 12px 24px;
    gap: 10px;
    }
.button:hover {
    cursor: pointer;
    background-color: var(--ocean);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 250ms cubic-bezier(0.04, 0.0, 0.2, 1);
    }
.backdrop {
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.40);
    top: 0;  
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.04, 0.0, 0.2, 1);
}
.modal {
    width: 408px;
    /* height: 635px; */
    background-color: var(--white);
    border-radius: 4px;
    padding: 24px;
    }
.is-hidden {
    pointer-events: none;
    opacity: 0;
    }
.modal-close-button {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    width: 30px;
    height: 30px;
    padding: 0;
    color: var(--iris);
    margin-left: auto;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1) border 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;   
    }
.modal-close-button:hover {
    color: var(--ocean);
    border: 1px solid currentcolor;
    }
.service-label {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    position: relative;
    }
.input-label {
    text-align: left;
    margin-bottom: 8px;
    color: var(--light-slate);
    }
.service-input {
    padding: 12px 40px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.service-icon {
    position: absolute;
    top: 60%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
    }
.service-input:focus+.service-icon,
.service-input:hover+.service-icon {
    fill: var(--iris);
    }
.service-input:hover {
    border: 1px solid var(--iris);
    }
.service-input-textarea {
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    }

.service-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    text-align: left;
    }
.agree-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    left: 23px;
    flex-shrink: 0;
    opacity: 0;
    }
.agree-check-icon {
    fill: none;
    margin-right: 8px;
    border: 2px solid black;
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.service-agree .agree-checkbox:focus+.agree-check-icon,
.service-agree .agree-checkbox:checked:focus+.agree-check-icon {
    outline: 2px solid #212121;
}
.service-agree .agree-checkbox:checked+.agree-check-icon {
    background-color: var(--iris);
    border-color: var(--iris);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;
    }
.agree-text {
    font-size: 12px;
   }
.modal-send {
    width: 105px;
    margin-top: 30px;
    padding: 16px 32px;
    background-color: var(--iris);
    color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    font-size: 16px;        
    font-weight: 500;
    line-height: 24px;       
    letter-spacing: 0.64px;
}
.modal-send:hover {
    cursor: pointer;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ABOUT SECTION   */
.icon {
    padding: 24px 0;
    text-align: center;
    background-color: var(--cloud);
    width: 264px;
    margin: 24px 0;
    justify-content: center;
}
.icon:hover,
.icon:focus {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.icon::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--iris);
    position: relative;
    top: 20px;
}

/* Benefits Section */
.about h3 {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
}
ul.benefits {
    text-decoration: none;
    list-style-type: none;              
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 20px;
    flex-direction: row;
    padding-left: 0;
    padding-right: 20px;
    flex-wrap: wrap;
    }
.about-gadget {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 24px 0;
    padding: 24px 0;
    flex-wrap: wrap;
    }
.icon {
    display: flex;
    padding: 24px 0;
    text-align: center;
    background-color: var(--cloud);
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.benefits-icon {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}


    /* SECTION ABOUT STYLING */
.gadget-image {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    justify-content: space-around;
    border: 1px solid var(--cornflower);
    padding-left: 0;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 24px;
    margin-right: 24px;
    }
.about p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
h2 {
    /* Header 2 */
    text-align: center;
    color: var(--navy-blue);       
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5em;       
    letter-spacing: 0.72px;
    }

    /* TEAM SECTION STYLING */

.team {
    background: var(--cloud);
    }
.team h3 {
    text-align: center;
    }
.team-section {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    }
.list-team {
    justify-content: center;
    display: flex;
    margin: 8px;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    border-radius: 0px 0px 4px 4px;        
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: opacity 250ms cubic-bezier(0.04, 0.0, 0.2, 1);
}
.team-icon {
    color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}
.team-socials {
    display: flex;
    justify-content: space-evenly;
}
.team-socials:hover,
.team-socials {
    border-color: 2px solid var(--iris);
}
.team-socials-icon {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 32px;
    gap: 32px;
    }
.team-socials-icon:hover svg,
.team-socials-icon:focus svg {
    fill: var(--navy-blue);
    }

/* CUSTOMER SECTION STYLING */

.customer {
    display: flex;    
    gap: 16px;
    align-items: center;
    justify-content: space-around;
}
.customer-icon {
    border: 2px solid #8e8f99;
    padding: 16px 0;
    display: flex;
    text-align: center;
    justify-content: center
    }
.customer-icon svg {
    fill: #8e8f99;
    justify-content: space-around;
    display: inline-flex;
    text-align: center;
    }
.customer-icon:hover,
.customer-icon:focus {
    border-color: 2px solid var(--iris);
    }
.customer-icon:hover svg,
.customer-icon:focus svg {
    fill: var(--iris);
    }
.mobile-menu {
    text-decoration: none;
    font-size: 18px;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0;
    }
.mobile-socials-icon {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 32px;
    gap: 32px;
    }


/* PORTFOLIO STYLING */

.portfolio-button {
    margin-top: 96px;
    margin-bottom: 72px;
    flex-wrap: wrap;
    }
.button-1 {
    display: inline-flex;
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 12px 24px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
}
.button-1:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: fill 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    cursor: pointer;
}
.footers {
    display: flex;
    background-color: var(--navy-blue);
    align-items: center;
    justify-content: space-between;
}
.team-footer {
    gap: 16px;
}
.footer-text {
    margin-top: 0px;

}
.footer p {
    text-decoration: none;
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding-top: 22px;
    margin-left: 50px;
    text-align: left;
    margin-bottom: 100px;
    }
footer {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    background: var(--navy-blue);
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    gap: 24px;
}
.footer {
    text-decoration: none;
    color: var(--white);
    padding-top: 120px;
    margin-left: 50px;
}
.team-footer {
    display: flex;
    position: relative;
    margin-left: 0;

}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.32px;
}
span {
    color: var(--iris);
    text-align: left;
    padding-top: 24px;
}
.footer-social-text,
.footer-subscribe-text {
    color: white;
}
.footer-subscribe-text {
    position: relative;
    display: inline-flex;
     margin-bottom: 30px;
    text-decoration: none;
    color: var(--cloud);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
     margin-left: 0px;
    text-align: left;
    color: var(--white, #FFF);
    
}
.services {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;        
    }

.services-offered {
    display: inline-flex;
    align-items: center;
    margin-left: 12px; 
    margin-right: 12px;      
    width: 360px;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;             
    border-radius: 0px 0px 4px 4px;}
    .services-offered:hover .services-offered-image-caption{
    /* box-shadow: 0px 10px 10px 0px rgba(46, 47, 66, 0.08), 0px 15px 20px 0px rgba(46, 47, 66, 0.16), 0px 10px 20px 0px rgba(46, 47, 66, 0.08); */
    opacity: .9;
    transform: translateY(0)
   }
.services-offered-image {
    position: relative;
    overflow: hidden;  
}
.services-offered-image-caption {
    position: absolute;
    background-color: var(--iris);
    color: var(--cloud);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    margin-bottom: 0;
    margin-top: 0;
    transform: translateY(100%);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
.services-offered-image-caption {
    padding-top: 40px;
    }
.button-sub {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 8px 24px;
    gap: 16px;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    margin-top: 0px;
    font-size: 18px;
    position: relative;
    align-items: left;
    border-radius: 4px;
    margin-right: 90px;
    margin-bottom: 0;
}
.button-sub svg {
    fill: white;}

/* END OF PORTFOLIO STYLING */

h3 {
    color: var(--navy-blue);     
    line-height: 1.5;
    letter-spacing: 0.72px;    
    font-size: 20px;       
    font-weight: 500;      
    letter-spacing: 0.4px;
    list-style-type: none;
    text-decoration: none;
    padding-left: 24px;
    }

h4 {
    /* Header 4 */
    color: var(--navy-blue);
    line-height: 0;
    letter-spacing: 0.72px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    padding-top: 32px;
}
h5 {
    color: var(--white);
    line-height: 24px;
    letter-spacing: 0.72px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.32px;
    list-style-type: none;
    text-decoration: none;
     }
h6 {
    color: var(--navy-blue);
    line-height: 0;
    letter-spacing: 0.72px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    list-style-type: none;
    text-decoration: none;
}
p {
    color: var(--slate); 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;        
    letter-spacing: 0.32px;
    text-align: left; 
    }
 p.apps {
    color: var(--slate);
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 32px; 
    font-size: 16px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 0.32px;
    text-align: left;
}

/* FOOTER SECTION STYLING */

.d-flex {
    display: flex;
    background-color: var(--navyblue);
    background-size: cover;
}
.logo-web {
    color: var(--iris);
 }
.bg-dark {
    background-color: var(--navyblue);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;
    background-size: cover;
    text-align: center;
    }
span.logo-studio-footer {
    color: var(--cloud);
 }
.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
    background-color: var(--navy-blue);
    background-size: cover;
   }
.footer-index {
    display: flex;    
     background-color: var(--navy-blue);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 96px;
}
.list-team p {
    text-align: center;
}
p.footer-text-index {
    align-items: left;
    display: flex;
    color: var(--cloud);
   }
.team-footer-icon {
    background-color: var(--iris);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 32px;
    }
.team-footer-icon svg {
    fill: white;}
.team-socials-icon svg {
    fill: white;
    }
.team-footer-icon:hover svg,
.team-footer-icon:focus svg {
    fill: var(--navy-blue);
}
.input-sub {
    border: 2px solid white;
    background: none;
    border-radius: 4px;
    padding: 10px 0;
    width: 264px;
    background-color: none;
    }
 .input-sub::placeholder {
    color: white;
    padding-left: 10px;
    }
 .btn-sub {
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: var(--iris);
    border: none;
     border-radius: 4px;
    }
 .btn-sub svg {
    fill: white;
     }
.footer-sub {
    margin-left: 24px;
    }
.footer-social-text {
    margin-top: 0;
    color: white;
    text-align: left
    }
p.footer-subscribe-text-index {
     margin-top: 0;
    color: white;
    text-align: left;
     }
a.link {
text-align: left;
}


 /* MEDIA STYLING */

@media (min-width: 428px) {
    
    .container {
        width: 428px;
         }
    .desktop-nav {
        display: none;
        }
    .what-we-do {
        display: none;
        }
    .hero-text {
        font-size: 36px;
        letter-spacing: 0.72px;
        line-height: 1.11;
        }
    .benefits-item h3 {
        text-align: center;
        }
    .benefits-icon {
        display: none;
        }
    .mobile-nav .span.logo-studio-nav {
        text-align: center;
        color: var(--cloud);
        }
    .mobile-menu.is-open {
             transform: translateX(0);
         }
             .js-close-menu {
             position: fixed;
             top: 24px;
             right: 24px;
             fill: var(--navy-blue);
             background-color: var(--white);
             border-radius: 50%;
             gap: 16px;
             }
             .mobile-tel-contacts {
             color: var(--iris);
             list-style-type: none;
             text-decoration: none;
             font-size: 36px;
             padding-top: 284px;
             }
             .mobile-contacts {
             list-style-type: none;
             text-decoration: none;
             margin-bottom: 40px;
         }
             .mobile-social {
            list-style-type: none;
             text-decoration: none;
             }
             .mobile-social-email {
            list-style-type: none;
             text-decoration: none;
             margin-top: 40px;
             }
             .mobile-social-tel {
            list-style-type: none;
             text-decoration: none;
             margin-top: 284px;
            }
             .mobile-social-icon {
            list-style-type: none;
             text-decoration: none;
             margin-bottom: 40px;
             margin-top: 40px;
             }
             .mobile-email-contacts {
             color: var(--slate);
             font-size: 20px;
             text-decoration: none;
             font-size: 20px;
             font-weight: 500;
             line-height: 24px;
             /* 120% */
             letter-spacing: 0.4px;
             margin-bottom: 48px;
             }
             .mobile-menu {
             top: 0;
             display: block;
             height: 100vh;
             width: 100%;
             position: fixed;
             background-color: white;
             transform: translateX(100%);
             transition: transform 250ms ease-in-out;
             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
             }
             .mobile-navbar-modal {
             height: 796px;
             width: 100%
         }
.benefits-item,
.list-team {
    flex-basis: calc(100% / 4 - 30px);
}
.customer-icon {
    flex-basis: calc(100% / 2 - 30px);
}
.footer-inner {
    text-align: center;
    justify-content: center;
}
p.footer-subscribe-text-index {
text-align: center;
justify-content: center;
margin-right: 20px;
}
.btn-sub {
text-align: center;
justify-content: center;
margin-top: 10px;
margin-right: 20px;
}
.input-sub {
    justify-content: center;
    margin-right: 20px;
}
.benefits-item,
.list-team {
    flex-basis: calc(100% / 1 - 30px);
}
.span.logo {
text-align: center;
}
.team-section {
    text-align: center;
    justify-content: center;
    row-gap: 72px;
    padding-left: 0;
}
.logo {
    text-align: center;
    justify-content: space-between;
}
.footer-social-text {
    margin-top: 0;
    color: white;
    text-align: center;
    margin-right: 0;
}
.portfolio-button {
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    align-items: left;
    row-gap: 24px;
    }
.services-offered-image {
    flex-basis: calc(100% /9 - 30px);
}
.services-offered {
    text-align: left;
   
}
}   


@media (min-width: 768px) {
.container {
    width: 768px;
        
    }
.desktop-nav {
    display: flex;
    }
.mobile-nav,
.js-close-menu {
    display: none;
    }
.what-we-do {
    display: none;
    }
.benefits-item,
.list-team {
    flex-basis: calc(100% / 2 - 30px);
    
    }
.team-section {
    text-align: center;
    justify-content: space-around;
    row-gap: 72px;
    padding-left: 0;
}
.customer-icon {
    flex-basis: calc(100% / 3 - 30px);
    }
.benefits-item h3 {
    font-size: 36px;
     margin-bottom: 8px;
    text-align: left;
    }
.benefits-item p {
     margin-top: 0;
    }
.benefits-icon {
    display: none;
    }
.footer-inner {
    flex-basis: calc(100% / 2 - 30px);
    }
.logo {
    padding-right: 135px;
}
.footer-inner {
    justify-content: space-between;
    padding: 0 24px;
 }
p.footer-subscribe-text-index {
    text-align: left;
    justify-content: center;
    padding-left: 0;
}
p.footer-text-index {
    align-items: left;
    display: flex;
    color: var(--cloud);
    padding-left: 24px;
}
.list {
    row-gap: 72px;
}

.about h3 {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    /* 120% */
    letter-spacing: 0.4px;
    text-align: left;

}
.portfolio-button {
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services-offered-image {
    flex-basis: calc(100% / 5 - 30px);
}
.services-offered {
    text-align: left;
}
}

@media (min-width: 1200px) {
    .desktop-contacts {
        display: flex;
        column-gap: 30px;
    }

    .container {
        width: 1200px;
    }

    .benefits-item,
    .list-team {
        flex-basis: calc(100% / 4 - 30px);
    }

    .benefits-icon {
        display: flex;
        }
    .customer-icon {
        flex-basis: calc(100% / 6 - 30px);
    }
    .mobile-nav,
    .js-close-menu {
        display: none;
    }
    p.footer-subscribe-text-index {
        margin-top: 0;
        color: white;
        text-align: left;
        }
    .what-we-do {
        display: flex;
        }
    .portfolio-button {
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }
}               
        
                

          
